body {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  background-color: #cac9c9;
  margin: 2rem;
}

#search-text-field {
  flex-grow: 1;
  height: 2em;
  font-size: 2rem;
  background-color: #e7e4e4;
  border-radius: 15px;
  border-color: rgb(98, 98, 219);
}

th, td {
  border: 1px solid black;
  border-radius: 15px;
  height: 2rem;
  font-size: 1rem;
  background-color: #e7e4e4;
}

th {
  height: 3rem;
  background-color: rgb(98, 98, 219);
  font-size: 2rem;
  width: 30%
}

th:last-child {
  width: 3%;
}

th:first-child {
  width: 67%;
}

td button {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: red;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

form div {
  display: flex;
  flex-grow: 1;
  column-gap: 2rem;
}

form input {
  display: flex;
  flex-grow: 1;
  height: 50px;
  font-size: 2rem;
  border-radius: 15px;
  background-color: #e7e4e4;
  border-color: rgb(98, 98, 219);
}

form button {
  background-color: rgb(98, 98, 219);
  border-radius: 15px;
  height: 5rem;
  font-size: 2rem;
  border-color: rgb(98, 98, 219);
}

form button:hover {
  background-color: rgb(65, 65, 168);
  cursor: pointer;
}